<div class="layout-top-nav" ng-class="$ctrl.context.theme">
    <div class="wrapper">
        <ui-navbar context="$ctrl.context"></ui-navbar>
        <ui-topbar context="$ctrl.context"></ui-topbar>
        <ui-alert context="$ctrl.context"></ui-alert>

        <div class="content-wrapper">
            <section class="content">
                <h1>Hello world</h1>
            </section>
        </div>

        <ui-footer context="$ctrl.context"></ui-footer>
    </div>
</div>