<div class="layout-top-nav skin-blue">
    <div class="wrapper">
        <header class="main-header" style="position: fixed; width: 100%; top: 0; left: 0; color: black; border-bottom: solid 2px #ececec; height: 220px; font-weight: 400; background-color: #ffffff;">
            <nav class="navbar navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="../../index2.html" class="navbar-brand"><img src="../image/Logo.png" width="200" height="68" /></a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    
                    <div class="collapse navbar-collapse pull-left" id="navbar-collapse" style="color: black;">
                        <ul class="nav navbar-nav" style="padding-top: 25px; color: black;">
                            <li ng-click="$ctrl.home()"><a ng-style="$ctrl.tabActive == 'home' && {'color': '#444', 'background': '#f7f7f7'}" href="#" style="font-weight: 600; font-size: larger; font-family: 'neo',sans-serif !important;"> TRANG CHỦ</a></li>
                            <li role="button" ng-click="$ctrl.verify()"><a ng-style="$ctrl.tabActive == 'verify' && {'color': '#444', 'background': '#f7f7f7'}" href="#" style="font-weight: 600; font-size: larger; font-family: 'neo',sans-serif !important;"> XÁC THỰC TÀI LIỆU <span class="sr-only">(current)</span></a></li>
                            <li role="button" ng-click="$ctrl.searchTab()"><a ng-style="$ctrl.tabActive == 'search' && {'color': '#444', 'background': '#f7f7f7'}" href="#" style="font-weight: 600; font-size: larger; font-family: 'neo',sans-serif !important;"> TRA CỨU<span class="sr-only">(current)</span></a></li>
                        </ul>
                    </div>

                    <div class="navbar-custom-menu" style="padding-top: 25px;">
                        <a ui-sref="identity.frontend.login" class="btn btn-success" style="margin-top: 7px;"> Đăng nhập</a>
                    </div>
                </div>
            </nav>
        </header>

        <section class="banner" style="padding-top: 150px; color: black;" ng-if="$ctrl.isSearch">
            <div class="container" style="padding: 30px;">
                <div class="text-center">
                    <h2 style="color: #2ca2f0; font-weight: bold;">TRA CỨU & KIỂM TRA HÓA ĐƠN ĐIỆN TỬ</h2>
                    <div class="padding-top-20" style="color: black; font-weight: 300">
                        Nhập id transaction của hóa đơn điện tử bạn muốn xem,
                        <br />
                        phần mềm tự động đọc và kiểm tra tính hợp lệ của hóa đơn.
                    </div>

                    <div class="padding-top-20">
                        <div class="col-md-6 col-md-offset-3" style="padding-top: 30px;">
                            <div class="panel panel-primary" style="min-height: 150px; min-width: 100px;">
                                <div class="panel-body" style="padding: 60px;">
                                    <div class="col-md-6 col-md-offset-3">
                                        <form name="frmSearch" ng-submit="$ctrl.search()">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="idTransaction" placeholder="Nhập id transaction..." ng-model="$ctrl.transaction.idTransaction">
                                            </div>
                                            <div class="form-group">
                                                <button style="display: block; margin-left: auto; margin-right: auto;" type="submit" class="btn btn-success" data-toggle="modal" data-target="#myModal"> Tìm kiếm</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" id="invoiceInfo">
                <div class="invoice" style="border: 1px solid #0094ff; border-radius: 10px;">
                    <div class="inv-name text-center"><h3>{{$ctrl.xmlData.ttHoaDon.ttChungHD.thDon}}</h3></div>
                    <div class="inv-description text-center">Bảng thể hiện của hóa đơn điện tử</div>
                    <div class="inv-info text-right">Mẫu số: {{$ctrl.xmlData.ttHoaDon.ttChungHD.khmshDon}}<br>Ký hiệu: {{$ctrl.xmlData.ttHoaDon.ttChungHD.khhDon}}<br>Số hóa đơn: {{$ctrl.xmlData.ttHoaDon.ttChungHD.shDon}}</div>
                    <div class="inv-date text-center"> Ngày {{$ctrl.xmlData.ttHoaDon.ttChungHD.tdLap | date:'dd'}} Tháng {{$ctrl.xmlData.ttHoaDon.ttChungHD.tdLap | date:'MM'}} Năm {{$ctrl.xmlData.ttHoaDon.ttChungHD.tdLap | date:'yyyy'}}</div>
                    <br />
                    <div class="inv-seller">
                        <div class="item-row">
                            <strong>Tên người bán</strong>: {{$ctrl.xmlData.ttHoaDon.ttnBan.ten}}
                        </div>
                        <div class="item-row">
                            <strong>Mã số thuế</strong>: {{$ctrl.xmlData.ttHoaDon.ttnBan.mst}}
                        </div>
                        <div class="item-row">
                            <strong>Địa chỉ</strong>: {{$ctrl.xmlData.ttHoaDon.ttnBan.dChi}}
                        </div>
                    </div>
                    <br />
                    <div class="inv-buyer">
                        <div class="item-row">
                            <strong>Tên người mua</strong>: {{$ctrl.xmlData.ttHoaDon.ttnMua.ten}}
                        </div>
                        <div class="item-row">
                            <strong>Mã số thuế</strong>: {{$ctrl.xmlData.ttHoaDon.ttnMua.mst}}
                        </div>
                        <div class="item-row">
                            <strong>Địa chỉ</strong>:  {{$ctrl.xmlData.ttHoaDon.ttnMua.dChi}}
                        </div>
                    </div>
                    <br />
                    <div class="inv-payment">
                        <div class="item-row">
                            <strong>Đồng tiền thanh toán</strong>: {{$ctrl.xmlData.ttHoaDon.ttChungHD.dvtTe}}
                        </div>
                    </div>
                    <br />

                    <div class="inv-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên hàng hóa, dịch vụ</th>
                                    <th>Đơn vị tính</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Thuế suất</th>
                                    <th>Thành tiền (chưa có thuế GTGT)</th>
                                    <th>Tiền thuế GTGT</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in $ctrl.xmlData.ttHoaDon.listHHDVu | filter:q as results track by item.ten">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td>{{item.ten}}</td>
                                    <td class="text-center">{{item.dvTinh}}</td>
                                    <td class="text-right">{{item.sLuong}}</td>
                                    <td class="text-right">{{item.dGia | currency: "" : 0}}</td>
                                    <td class="text-right">{{item.tSuat}}</td>
                                    <td class="text-right">{{item.thTien | currency: "" : 0 }}</td>
                                    <td class="text-right">{{item.vatAmount | currency: "" : 0}}</td>
                                    <td class="text-right">{{ (item.thTien + item.vatAmount)| currency: "" : 0}}</td>
                                </tr>
                                <tr>
                                    <td colspan="8" class="text-right">Tổng tiền chưa có thuế GTGT:</td>
                                    <td class="text-right">{{$ctrl.xmlData.ttHoaDon.tttToan.tgTCThue | currency: "" : 0}}</td>
                                </tr>
                                <tr>
                                    <td colspan="8" class="text-right">Tổng tiền thuế GTGT:</td>
                                    <td class="text-right">{{$ctrl.xmlData.ttHoaDon.tttToan.tgTThue | currency: "" : 0}}</td>
                                </tr>
                                <tr>
                                    <td colspan="8" class="text-right">Tổng tiền thanh toán đã có thuế GTGT:</td>
                                    <td class="text-right">{{$ctrl.xmlData.ttHoaDon.tttToan.tgTTTBSo  | currency: "" : 0}}</td>
                                </tr>
                                <tr>
                                    <td colspan="9" class="text-left">Tổng số tiền thành chữ: <strong>{{$ctrl.xmlData.ttHoaDon.tttToan.tgTTTBChu  | currency: "" : 0}}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row row-no-gutters">
                        <div class="col-xs-6" style="text-align: center;">
                            <div>Người mua hàng</div>
                            <div>
                                <h4>{{$ctrl.xmlData.ttHoaDon.ttnMua.ten}}</h4>
                            </div>
                        </div>
                        <div class="col-xs-6" style="text-align: center;">
                            <div>Người bán hàng</div>
                            <div>
                                <h4>{{$ctrl.xmlData.ttHoaDon.ttnBan.ten}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="invoice" style="border: 1px solid #0094ff; border-radius: 10px; background-color: #e6f7ff;">
                    <div class="check-invoice">
                        <h3 class="text-center">Kiểm tra hóa đơn</h3>
                        <div class="check-invoice-item">
                            <label class="check-item-label">Ngày ký hóa đơn:</label>
                            <div class="check-result">
                                <i class="fa fa-check-circle text-green" aria-hidden="true"></i>
                                Ngày ký hóa đơn hợp lệ (tại thời điểm ký hóa đơn chữ ký số còn hiệu lực)
                            </div>
                            <div class="check-result">
                                <i class="fa fa-check-circle text-green" aria-hidden="true"></i>
                                Ngày ký hóa đơn trùng ngày lập ({{$ctrl.xmlData.ttHoaDon.ttChungHD.tdLap | date:'dd/MM/yyyy'}})
                            </div>
                        </div>
                        <br />
                        <div class="check-invoice-item">
                            <label class="check-item-label">Thông tin chữ ký số của người mua:</label>
                            <div class="check-result">
                                <i class="fa fa-exclamation-triangle text-orange" aria-hidden="true"></i>Ký bởi:
                                <strong></strong>
                            </div>
                            <div class="check-result">
                                <i class="fa fa-check-circle text-green" aria-hidden="true"></i>
                                Nhà cung cấp:
                                <strong></strong>
                            </div>
                            <div class="check-result">
                                <i class="fa fa-check-circle text-green" aria-hidden="true"></i>Serial number:
                            </div>
                        </div>
                        <br />
                        <div class="check-invoice-item">
                            <label class="check-item-label">Thông tin chữ ký số của người bán:</label>
                            <div class="check-result">
                                <i class="fa fa-exclamation-triangle text-orange" aria-hidden="true"></i>Ký bởi:
                                <strong></strong>
                            </div>
                            <div class="check-result">
                                <i class="fa fa-check-circle text-green" aria-hidden="true"></i>
                                Nhà cung cấp:
                                <strong></strong>
                            </div>
                            <div class="check-result">
                                <i class="fa fa-check-circle text-green" aria-hidden="true"></i>Serial number:
                            </div>
                        </div>
                        <br />
                        <div class="check-invoice-item">
                            <label class="check-item-label">Thông tin chữ ký số của T-VAN:</label>
                            <div class="check-result">
                                <i class="fa fa-exclamation-triangle text-orange" aria-hidden="true"></i>Ký bởi:
                                <strong>{{$ctrl.xmlData.signatureTvan}}</strong>
                            </div>
                            <div class="check-result">
                                <i class="fa fa-check-circle text-green" aria-hidden="true"></i>
                                Nhà cung cấp:
                                <strong>{{$ctrl.xmlData.signatureTvan}}</strong>
                            </div>
                            <div class="check-result">
                                <i class="fa fa-check-circle text-green" aria-hidden="true"></i>
                                Serial number: <strong>{{$ctrl.xmlData.serialNumberTvan}}</strong>
                            </div>
                        </div>
                        <br />
                        <div class="check-invoice-item">
                            <label class="check-item-label">Tình trạng file hóa đơn:</label>
                            <div class="check-result">
                                <i class="fa fa-check-circle text-green" aria-hidden="true"></i>
                                Cấu trúc file XML còn nguyên vẹn (chưa bị chỉnh sửa sau khi ký điện tử)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section style="padding-top: 100px;" ng-if="!$ctrl.isSearch">
            <div class="container" style="min-height: 1000px;">
                <div ng-show="$ctrl.uploader.isHTML5" style="padding-top: 20px;">
                    <div nv-file-drop uploader="$ctrl.uploader" class="dropzone">
                        <label nv-file-over uploader="$ctrl.uploader" over-class="dropzone-files" class="dropzone-file-over" style="color: black;">
                            Nhấn hoặc kéo và thả file XML vào đây để xác thực
                            <p style="margin: 20px;"><i class="fa fa-upload fa-5x"></i></p>
                            <input class="hidden" nv-file-select uploader="$ctrl.uploader" type="file" multiple />
                        </label>
                    </div>
                </div>

                <div ng-if="$ctrl.certificates.length > 0">
                    <h4 class="text-uppercase">
                        <b class="text-success" ng-if="$ctrl.isValid">Tài liệu hợp lệ</b>
                        <b class="text-danger" ng-if="!$ctrl.isValid">Tài liệu không hợp lệ</b>
                    </h4>
                    <div class="content-group">
                        <p>Version hệ thống xác thực: {{$ctrl.version}}</p>
                        <p>Mã xác thực: <b>{{$ctrl.verificationCode}}</b></p>
                        <dl ng-repeat="cert in $ctrl.certificates track by $index">
                            <dt class="text-size-small text-primary">{{($index + 1)}}. {{cert.commonName}} - <span class="text-success" ng-if="cert.isValid">Chữ ký hợp lệ</span><span class="text-danger" ng-if="!cert.isValid">Chữ ký không hợp lệ</span></dt>
                            <dd class="text-warning" ng-if="cert.signedAt"> - <b>Ngày ký</b>: {{cert.signedAt | date: 'dd/MM/yyyy hh:mm:ss'}}</dd>
                            <dd> - <b>Locality</b>: {{cert.locality}}</dd>
                            <dd> - <b>State</b>: {{cert.state}}</dd>
                            <dd> - <b>Country</b>: {{cert.country}}</dd>
                            <dd> - <b>Issuer</b>: {{cert.issuer}}</dd>
                            <dd> - <b>Valid from</b>: {{cert.validFrom | date: 'dd/MM/yyyy'}}</dd>
                            <dd> - <b>Valid to</b>: {{cert.validTo | date: 'dd/MM/yyyy'}}</dd>
                            <dd> - <b>Serial number</b>: {{cert.serialNumber}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>